:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  padding: 2em;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body .content {
  flex-grow: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2em;
  font-weight: 200;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

section.header {
  align-items: last baseline;
  display: flex;
  flex-direction: row;
}

section.header ul {
  align-items: last baseline;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-size: larger;
  font-weight: 600;
}

section.header li {
  display: inline-block;
}

@media (max-width: 450px) {
  section.header li.large-heading {
    display: none;
  }
}

@media (min-width: 451px) {
  section.header li.small-heading {
    display: none;
  }
}

li {
  margin: 12px;
}

li a:hover {
  text-decoration: underline;
}
